doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Diana
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1 Diana's Animal Shelter
    .row
      .small-12.columns
        form
          fieldset Add Animal into System
            .row
              .small-3.columns
                label.right.inline(for='name') Name
              .small-9.columns
                input#name(type='text', placeholder='Name')
            .row
              .small-3.columns
                label.right.inline(for='species') Species
              .small-9.columns
                input#species(type='text', placeholder='Species')
            .row
              .small-3.columns
                label.right.inline(for='color') Color
              .small-9.columns
                input#color(type='text', placeholder='Color')
            .row
              .small-3.columns
                label.right.inline(for='age') Age
              .small-9.columns
                input#age(type='text', placeholder='Age')
            .row
              .small-3.columns
                label.right.inline(for='gender') Gender
              .small-9.columns
                input#gender(type='text', placeholder='Male Female')
            .row
              .small-3.columns
                label.right.inline(for='description') Description
              .small-9.columns
                textarea#des(type='text', placeholder='Description')
            .row
              .small-3.columns
                label.right.inline(for='photo') Photos
              .small-9.columns
                input#photo(type='text', placeholder='http://')
            .row
              .small-12.columns
                #photos
            .row
              .small-3.columns
                &nbsp;
              .small-4.columns
                button.radius#add-photo Add Photo
              .small-1.columns
                &nbsp;
              .small-4.columns
                button.radius#add-animal Add Animal
  #footer
    small Fryman Inc.
  
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')
    script.
      $(document).foundation()

